body {
    margin: 0;
    padding: 0;
    font-family: ubuntur;
}

.lang {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
}

.lang div {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin-right: 1em;
}

.lang div:hover {
    border-bottom: 2px solid white;
}

.eng {
    background: url("../img/en.png");
}

.rus {
    background: url("../img/ru.png");
}

.title {
    text-align: center;
    margin: 0.5em;
    font-size: 2em;
    font-weight: bold;
    background-color: #666666;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.title.not-chrome {
    background-color: inherit;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    letter-spacing: 5px;
}

.main {
    width: 41em;
    margin: 0 auto;
    padding: 5px 15px 15px 15px;
    border-radius: 30px;
    border: 1px solid #939e7d;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}

.copyright {
    margin: 1em 0;
    text-align: center;
}

.input {
    float: left;
    width: 10.875em;
    margin-right: 1em;
}

.colors {
    width: 7em;
    float: right;
}

.turns {
    clear: both;
    float: right;
    margin: 0.5em 0;
}

.rules, .refresh {
    margin: 0.5em 0;
    clear: both;
    float: right;
}

.game {
    display: inline-block;
    width: 28em;
    margin: 0 auto;
}

.chooser-complexity {
    clear: both;
    margin-top: .5em;
    float: right;
}

.chooser-complexity .button-label{
    width: 40px;
    margin-right: 10px;
}

.caravan {
    clear: both;
    margin-top: .5em;
    float: right;
}

.color {
    float: left;
    width: 2em;
    height: 2em;
}

.colors .color {
    border-radius: 50%;
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 0px rgba(163,75,163,0.9);
    margin-right: 3px;
    margin-bottom: 3px;
    transition:width 5s;
    -webkit-transition:width 5s;
}

.colors .color:hover {
    margin-top: -3px;
    margin-bottom: 6px;
}

.colors .color:active {
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

.color.big {
    width: 1em;
    height: 1em;
}

.colors .red {
    border: 1px solid #800000;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #cf3636),
        color-stop(0.50, #cf3636),
        to(#800000));
    background: -moz-linear-gradient(top, #ffffff, #cf3636 50%, #cf3636 50%, #800000);
    background: -ms-linear-gradient(top, #ffffff, #cf3636 50%, #cf3636 50%, #800000);
    background: -o-linear-gradient(top, #ffffff, #cf3636 50%, #cf3636 50%, #800000);
}

.colors .violet {
    border: 1px solid #4f0063;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #77008f),
        color-stop(0.50, #6c0087),
        to(#4f0063));
    background: -moz-linear-gradient(top, #ffffff, #77008f 50%, #6c0087 50%, #4f0063);
    background: -ms-linear-gradient(top, #ffffff, #77008f 50%, #6c0087 50%, #4f0063);
    background: -o-linear-gradient(top, #ffffff, #77008f 50%, #6c0087 50%, #4f0063);
}

.colors .blue {
    border: 1px solid #001463;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #00458f),
        color-stop(0.50, #004887),
        to(#001463));
    background: -moz-linear-gradient(top, #ffffff, #00458f 50%, #004887 50%, #001463);
    background: -ms-linear-gradient(top, #ffffff, #00458f 50%, #004887 50%, #001463);
    background: -o-linear-gradient(top, #ffffff, #00458f 50%, #004887 50%, #001463);
}

.colors .green {
    border: 1px solid #006300;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #008f21),
        color-stop(0.50, #1b8700),
        to(#006300));
    background: -moz-linear-gradient(top, #ffffff, #1b8700 50%, #1b8700 50%, #006300);
    background: -ms-linear-gradient(top, #ffffff, #1b8700 50%, #1b8700 50%, #006300);
    background: -o-linear-gradient(top, #ffffff, #1b8700 50%, #1b8700 50%, #006300);
}

.colors .yellow {
    border: 1px solid #ccff00;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #f7ff00),
        color-stop(0.50, #e1ff00),
        to(#ccff00));
    background: -moz-linear-gradient(top, #ffffff, #e1ff00 50%, #e1ff00 50%, #ccff00);
    background: -ms-linear-gradient(top, #ffffff, #e1ff00 50%, #e1ff00 50%, #ccff00);
    background: -o-linear-gradient(top, #ffffff, #e1ff00 50%, #e1ff00 50%, #ccff00);
}

.colors .orange {
    border: 1px solid #964e00;
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffaa00),
        color-stop(0.50, #964e00),
        color-stop(0.50, #964e00),
        to(#964e00));
    background: -moz-linear-gradient(top, #ffaa00, #964e00 50%, #964e00 50%, #964e00);
    background: -ms-linear-gradient(top, #ffaa00, #964e00 50%, #964e00 50%, #964e00);
    background: -o-linear-gradient(top, #ffaa00, #964e00 50%, #964e00 50%, #964e00);
}

.red {
    background: #D01010;
}

.violet {
    background: #4f0063;
}

.blue {
    background: #0014C3;
}

.green {
    background: #00C300;
}

.yellow {
    background: #ccff00;
}

.orange {
    background: #964e00;
}

.complexity {
    float: left;
    line-height: 35px;
    background: rgba(183, 172, 172, .7);
    margin-left: 5px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}

.complexity.active {
    float: left;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: rgba(34, 35, 36, .7);
}

input[name="complexity"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 70px;
    height: 35px;
    z-index: 100;
    margin: 0;
}

input[name="complexity"]:checked + label {
    background: rgba(34, 35, 36, .7);
    color: #fff;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
input[name="complexity"] + label {
    color: #fff;
    display: inline-block;
    background: rgba(183, 172, 172, .7);
    width: 70px;
    line-height: 35px;
    height: 35px;
    text-align: center;
    position: relative;
}

.button-label {
    font-weight: bold;
    color: rgb(108, 108, 108);
    line-height: 35px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    float: left;
}

.btn {
    width: 5em;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top,#444,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-image: -o-linear-gradient(top,#444,#222);
    background-image: linear-gradient(to bottom,#444,#222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn:hover {
    text-decoration: none;
    background-position: 0 -15px;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

.btn-inverse:hover, .btn-inverse:active {
    color: #fff;
    background-color: #222;
}

.hidden {
    display: none;
}